extends layout

block content
  h1.bigUnicodeBaseball ⚾
  p
  a(href="https://twitter.com/inlinestyle" data-widget-id="533112938987413504").twitter-timeline Tweets by @inlinestyle
  script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
